/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f3f3f3;

    #dthree > svg {
        border: solid 1px black;
    }
}

.sd-element__title span {
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.sd-body {
    padding: 0 !important;
}

.sd-html > div > * {
    font-size: 1.25rem !important;
}

.shortcut {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #d3d3d3;
    border: 2px solid #555;
    color: #333;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    text-transform: uppercase;

    &:hover {
        background-color: #a9a9a9;
    }
}
