::ng-deep .selected {
    fill: red !important;

    & rect {
        stroke: red !important;
        fill: white !important;
    }

    & text {
        fill: red !important;
        stroke: red !important;
    }

    & circle {
        stroke: red !important;
    }
}

::ng-deep .unselected {
    opacity: 0.1;
}